#container {
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;

	padding: 10px 50px 10px 50px;

	background-color: honeydew;
}

#contact {
	font-family: 'Lato', sans-serif;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border: 2px solid black;
	text-align: center
}
